{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true
  },
  "plugins": ["react"],
  "rules": {
    "comma-dangle": 0,
    "import/no-extraneous-dependencies": "off",
    "react/require-default-props": 0,
    "react/prop-types": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
  }
}
